body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.container{
    width: 370px;
    height: 690px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    overflow: hidden;
}
.bg1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    
}
.bg1 {
    z-index: -2; 
}

.bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;      /* Sits above bg1 which is -2 */
    opacity: 0;  
    visibility: hidden;
    transition: opacity 0.5s ease; /* Smooth fade effect */
}
.inventry{
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0%;
    z-index: 300;

}
.hitbox1{
    position: absolute;
    top: 62%;
    left: 5%;
    width: 50px;
    height: 50px;
    background-color: rgba(255,0,0,0);
    cursor: pointer;
    z-index: 30;
}
.scissor{
    position: absolute;
    bottom: 18px;
    left: 30px;
    width: 40px;
    z-index: 350;
    display: none;
    cursor: grab;
    touch-action: none;
    user-select: none;
}
.hitbox2{
    position: absolute;
    top: 47%;
    left: 74%;
    width: 90px;
    height: 100px;
    background-color: rgba(255,0,0,0);
    cursor: pointer;
    pointer-events: none;
    z-index: 30;
}
.letterbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; 
    z-index: 5;
    display: none;
    cursor: pointer;
}
.closebtn{
    position: absolute;
    top: 30%;
    right: 30px;
    width: 40px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: none;
}
.inventory-key {
    position: absolute;
    bottom: 18px;
    left: 40px; /* Adjust this to put it in the second slot */
    width: 30px;
    z-index: 350;
    cursor: grab;
}
.door-hitbox {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 50px;
    height: 70px;
    z-index: 50;
    cursor: pointer;
    background: rgba(255, 0, 0, 0); /* Invisible */
}

.final-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 1000;
}