/* body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-screen {
  position: relative;
  width: 360px;          
  height: 640px;         
  overflow: hidden;
}

#sceneImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.inventory-bg {
  position: absolute;
  left:0px;
  bottom: 0;
  width: 28%;
} */


body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.game-screen {
  position: relative;
  width: 360px;
  height: 640px;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.bg-image.blur {
  filter: blur(6px);
}
.inventory-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.slot {
  position: absolute;
  left: 35px;
  bottom: 24px;
  width: 50px;
  height: 50px;
}

.clue-area {
  position: absolute;
  bottom: 185px;    
  right: 30px;
  width: 45px;
  height: 55px;
  cursor: pointer;
  transition: all 0.5s ease;
  /* z-index: 2;    */
  }

.clue-area.disabled {
  pointer-events: none; 
  }

.overlay-image {
    position: absolute;
    inset: 0;
    left: 10px;
    width: 95%;
    height: 95%;
    object-fit: contain;
    z-index: 1;
    pointer-events: auto;
  }

.overlay-image.hidden {
    display: none;
  }

.close-btn {
    position: absolute;
    bottom: 500px;
    left: 290px;
    width: 50px;
    height: 50px;
    z-index: 200;
    cursor: pointer;
  }

.close-btn.hidden {
    display: none;
  }

.letter-area {
    position: absolute;
    bottom: 355px;    
    right: 90px;
    width: 180px;
    height: 68px;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 4;   
    }

.letter-area.disabled {
    pointer-events: none; 
    }

.letter-open-area {
    position: absolute;
    bottom: 237px;    
    right: 40px;
    width: 280px;
    height:155px;
    transform: rotate(-30deg);
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 3; 
} 

.letter-open-area.disabled {
  pointer-events: none; 
  }

.click-area {
  position: absolute;
  bottom: 120px;    
  right: 278px;
  width: 60px;
  height: 65px;
  cursor: pointer;
  z-index: 4;
}

.click-area.disabled {
  pointer-events: none;
}

.hidden {
  display: none;
}

.color-buttons-container {
  position: absolute;
  top: 37.5%; /* Adjust to match safe height */
  left: 45%;
  transform: translateX(-50%);
  display: flex;
  gap: 0px;
  /* z-index: 215; */
  z-index: 200;
}

.color-btn {
  width: 70.5px; /* Adjust size as needed */
  height: 70px;
  cursor: pointer;
  transition: transform 0.1s;
  z-index: 20;
}

.key-area {
  position: absolute;
  bottom: 225px;    
  left: 100px;
  width: 70px;
  height: 120px;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 2;   
  }

.key-area.disabled {
  pointer-events: none; 
  }

.final-lock-area {
    position: absolute;
    bottom: 240px;    
    right: 140px;
    width: 40px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 5;
}

.final-lock-area.disabled {
    pointer-events: none;

}

.final-close-btn {
  position: absolute;
  bottom: 500px;
  left: 290px;
  width: 50px;
  height: 50px;
  z-index: 200;
  cursor: pointer;
}

.final-close-btn.hidden {
  display: none;
}

.lastoptions {
  position: absolute;
  top: 58%; /* Adjust to match safe height */
  left: 48%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 1001;
}

#lastButtons {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  cursor: pointer;
  transition: transform 0.1s;
}
