body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.container{
    width: 370px;
    height: 690px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    overflow: hidden;
}
.bg-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.inventry{
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0%;
    z-index: 110;


}
.small-box{
    position: absolute;
    top: 49%;
    left: 13%;
    width: 40px;
    height: 40px;
    background-color: rgba(255,0,0,0);
    cursor: pointer;
    z-index: 10;
}
.zoomoverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    z-index: 100;
}

.blur-bg{
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    z-index: 1;
    position: absolute;

}
.box1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    cursor: pointer;
    z-index: 101;
}
.close-btn{
    position:absolute;
    top: 40%;
    right: 20px;
    width: 40px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 102;
}

.box2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    cursor: pointer;
}
.box3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    cursor: pointer;
}
.key{
    position: absolute;
    bottom: 20px;
    left: 35px;
    width: 43px;
    z-index: 120;
    display: none;
    cursor: grab;
    pointer-events: auto;
}
.dragging{
    opacity: 0.8;
    cursor: grabbing;
    pointer-events: none;
}
.final-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.door-lockbox{
    position: absolute;
    top: 40%;
    left: 66%;
    width: 40px;
    height: 80px;
    z-index: 5;
    background-color: rgba(255,0,0,0);
}
.success-panel {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    z-index: 1000; 
    display: none; 
}
.lastoptions {
    position: absolute;
    top: 52%; /* Adjust to match safe height */
    left: 48%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 1001;
}
#buttons {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    cursor: pointer;
    transition: transform 0.1s;
}
