body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.container{
    width: 370px;
    height: 690px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    overflow: hidden;
}
.bg1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.inventry{
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0%;
    z-index: 300;


}
.hitbox{
    position: absolute;
    top: 47%;
    left: 0%;
    width: 50px;
    height: 50px;
    background-color: rgba(255,0,0,0);
    cursor: pointer;
    z-index: 10;
}
.clue-paper1{
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 50px;
    z-index: 350;
    display: none;
    cursor: pointer;
}
.clue-overlay{
    position: absolute;
    inset: 0;
    display: none;
    z-index: 200;

}
.blur-bg{
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    z-index: 1;
    position: absolute;

}
.large-clue1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    border-radius: 10px;
    z-index: 201;
}
.close-btn{
    position: absolute;
    top: 30%;
    right: 30px;
    width: 40px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 202;
}
.box-overlay{
    position: absolute;
    inset: 0;
    display: none;
    z-index: 200;
}

.hitbox2{
    position: absolute;
    top: 55%;
    left: 35%;
    width: 50px;
    height: 50px;
    background-color: rgba(255,0,0,0);
    cursor: pointer;
    pointer-events: none;
    z-index: 10;
}
.box1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Size of the safe when zoomed */
    cursor: pointer;
    z-index: 2;
}

#close-btn {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 50px;
    z-index: 152;
    cursor: pointer;
}
.keypad-wrapper {
    position: absolute;
    top:35%; /* Changed from 35% to center it with the safe */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px; /* Matched closer to box1 width */
    z-index: 210;
    pointer-events: none;
}

.button-grid {
    position: absolute;
    top: 10%;    /* Adjust these % until buttons align with box1's keypad area */
    left: 20%;   
    width: 60%;  
    height: 50%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    pointer-events: auto;
}

.num-btn {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.1s;
}

.num-btn:active {
    transform: scale(0.9);
    filter: brightness(1.2);
}
.clue-paper2{
    position: absolute;
    bottom: 40px;
    left: 25px;
    width: 60px;
    z-index: 350;
    display: none;
    cursor: pointer;
}
.clue-overlay2{
    position: absolute;
    inset: 0;
    display: none;
    z-index: 200;

}

.blur-bg{
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    z-index: 1;
    position: absolute;

}
.large-clue2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    border-radius: 10px;
    z-index: 201;
}
.close-btn3{
    position: absolute;
    top: 30%;
    right: 30px;
    width: 40px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 202;
}
.hitbox3{
    position: absolute;
    top: 40%;
    left: 63%;
    width: 30px;
    height: 50px;
    background-color: rgba(255,0,0,0);
    cursor: pointer;
    pointer-events: none;
    z-index: 10;
}
.doorKeypadImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Size of the safe when zoomed */
    cursor: pointer;
    z-index: 2;
}
#doorKeypadWrapper {
    position: absolute;
    top:35%; /* Changed from 35% to center it with the safe */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px; /* Matched closer to box1 width */
    z-index: 210;
    pointer-events: none;
}
.doorbutton-grid {
    position: absolute;
    top: 10%;    /* Adjust these % until buttons align with box1's keypad area */
    left: 20%;   
    width: 60%;  
    height: 50%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    pointer-events: auto;
}

.door-btn {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.1s;
}

.door-btn:active {
    transform: scale(0.9);
    filter: brightness(1.2);

}
.success-panel {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    z-index: 1000; 
    display: none; 
}
.lastoptions {
    position: absolute;
    top: 52%; /* Adjust to match safe height */
    left: 48%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 1001;
}
#buttons {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    cursor: pointer;
    transition: transform 0.1s;
}