body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
  }

.game-screen {
    position: relative;
    width: 360px;
    height: 640px;
    overflow: hidden;
  }
  
.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

.bg-image.blur {
    filter: blur(6px);
  }

.overlay-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 3;
    pointer-events: auto;
  }

.overlay-image.hidden {
    display: none;
  }

.carpet {
    position: absolute;
    bottom: 100px;
    left: 47%;
    width: 55%;
    transform: translateX(-50%);
    cursor: pointer;
    /* transition: transform 0.6s ease; */
  }

/* Move carpet RIGHT */
.carpet.moved {
    transform: translateX(10%);  /* slides to right */
  }

.key {
    position: absolute;
    bottom: 100px;
    /* left: 50%; */
    left: 160px;
    transform: translateX(-50%);
    width: 50px;
    cursor: pointer;
    pointer-events: none;
    z-index: 3;  
  }
  
.hidden {
    display: none;
  }

.inventory-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.carpet-area {
    position: absolute;
    bottom: 115px;    
    right: 22px;
    width: 170px;
    height: 47px;
    transform: translateX(-50%);
    cursor: pointer;
    /* transition: transform 0.6s ease; */
  }

.key-area {
    position: absolute;
    bottom: 115px;    
    right: 158px;
    width: 40px;
    height: 44px;
    transform: translateX(-50%);
    cursor: pointer;
    /* transition: transform 0.6s ease; */
    
  }

.key-area.disabled {
  pointer-events: none;
}

.slot {
    position: absolute;
    left: 28px;
    bottom: 23px;
    width: 50px;
    height: 50px;
  }

/* Invisible drop zone */
.door-area {
    position: absolute;
    top: 240px;
    left: 65%;
    width: 80px;
    height: 100px;
    transform: translateX(-50%);
    z-index: 5;
  }

  .final-close-btn {
    position: absolute;
    bottom: 500px;
    left: 290px;
    width: 50px;
    height: 50px;
    z-index: 200;
    cursor: pointer;
  }

.final-close-btn.hidden {
    display: none;
  }

  .lastoptions {
    position: absolute;
    top: 58%; /* Adjust to match safe height */
    left: 48%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 1001;
}

#lastButtons {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    cursor: pointer;
    transition: transform 0.1s;
}